// dark color variables
$cl-toggle: $gr-light-Toggle;
$cl-BG: $cl-dark-VeryDarkBlue;
$cl-TopBGPattern: $cl-dark-VeryDarkBlue;
$cl-CardBG: $cl-dark-DarkDesaturatedBlue;
$cl-Text-1: $cl-dark-DesaturatedBlue;
$cl-Text-2: $cl-dark-White;
