// light color variables
$cl-toggle: $cl-dark-Toggle;

$cl-BG: $cl-light-White;
$cl-TopBGPattern: $cl-light-VeryPaleBlue;
$cl-CardBG: $cl-light-LightGrayishBlue;
$cl-Text-1: $cl-light-DarkGrayishBlue;
$cl-Text-2: $cl-light-VeryDarkBlue;
