@media (min-width: 768px) {
  main {
    margin: 0 auto;
  }
  .header {
    display: flex;
    justify-content: space-between;
    &-text {
      border: none;
    }
    &-theme {
      gap: 1rem;
    }
  }
}
