// global
p {
  color: $cl-Text-1;
  font-weight: 700;
}

// body
& {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: $cl-BG;
}
// main
main {
  width: min(90vw, 1100px);
  margin: 4rem auto;
}

// header
.header {
  &-text {
    padding-bottom: 2rem;
    border-bottom: 1px solid $cl-Text-1;
    h1 {
      font-size: 1.8rem;
      color: $cl-Text-2;
    }
  }
  &-theme {
    padding: 1rem 0 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .switch-toggle {
      width: 3.4rem;
      height: 1.8rem;
      border-radius: $radius-3;
      background: $cl-toggle;
      position: relative;
      .theme-switcher {
        position: absolute;
        display: none;
      }
      .slide {
        width: 1.4rem;
        height: 1.4rem;
        background: $cl-BG;
        border-radius: $radius-3;
        position: absolute;
        transform: translate(-20%, 12%);
        top: 0%;
        right: 0%;
        transition: all 250ms ease-in-out;
        box-shadow: inset 8px 0px 0px 0px black;
      }
      .theme-switcher:checked + .slide {
        transform: translate(-120%, 12%);
        background: $cl-BG;
        box-shadow: none;
      }
    }
  }
}

#cardLog {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  .green {
    color: $cl-LimeGreen;
  }
  .red {
    color: $cl-BrightRed;
  }
}
// big card
.big-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 2rem;
  margin-bottom: 2.5rem;
  #Bigcard {
    position: relative;
    background: $cl-CardBG;
    display: grid;
    justify-items: center;
    border-radius: $radius-1;
    gap: 1.5rem;
    padding: 2rem 0;
    .card-social {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }
    .card-header {
      text-align: center;
      h1 {
        font-size: 4.5rem;
        color: $cl-Text-2;
      }
      p {
        letter-spacing: 0.4rem;
        text-transform: uppercase;
        font-weight: 400;
      }
    }
    .card-log {
      @extend #cardLog;
    }
    &::after {
      content: "";
      width: 100%;
      height: 0.35rem;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-50%);
      border-radius: $radius-4 $radius-4 0 0;
    }
  }
  .card-1 {
    @extend #Bigcard;
    &::after {
      background: $cl-Facebook;
    }
  }
  .card-2 {
    @extend #Bigcard;
    &::after {
      background: $cl-Twitter;
    }
  }
  .card-3 {
    @extend #Bigcard;
    &::after {
      background: $gr-Instagram;
    }
  }
  .card-4 {
    @extend #Bigcard;
    &::after {
      background: $cl-YouTube;
    }
  }
}

// small Cards
.small-cards {
  display: grid;

  gap: 2rem;
  &-header {
    color: $cl-Text-1;
  }
  &-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    #scard {
      position: relative;
      background: $cl-CardBG;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: $radius-1;
      gap: 1.5rem;
      padding: 1.5rem 1.7rem;
      .scard-text {
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
        img {
          height: 1.5rem;
          width: 1.5rem;
        }
      }
      .scard-log {
        display: flex;
        justify-content: space-between;
        align-items: end;
        h3 {
          font-size: 2.1rem;
          color: $cl-Text-2;
        }
        &-text {
          @extend #cardLog;
          margin-bottom: 0.2rem;
          p {
            font-size: 0.85rem;
          }
        }
      }
    }
    .scard-1 {
      @extend #scard;
    }
    .scard-2 {
      @extend #scard;
    }
    .scard-3 {
      @extend #scard;
    }
    .scard-4 {
      @extend #scard;
    }
    .scard-5 {
      @extend #scard;
    }
    .scard-6 {
      @extend #scard;
    }
    .scard-7 {
      @extend #scard;
    }
    .scard-8 {
      @extend #scard;
    }
  }
}

// queries
@import "./queris";
